<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citizenship App!</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="container">
    <center>
        <h1>
            User Login!
        </h1><br><br>
            <form method="post" >
                {% csrf_token %}
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address: </label>
                    {{ form.username }}<br>
                    <span id="emailHelp" class="form-text" style="color:aliceblue;">We'll never share your email with anyone else.</span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password: </label>
                    {{ form.password }}
                  </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </center>
</div>


</body>
</html>

{% endblock %}